---
import Navbar from "../components/Navbar";
import Hero from "../components/Hero.astro";
import Why from "../components/Why.astro";
import Portfolio from "../components/Portfolio";
import WebsiteCreation from "../components/WebsiteCreation";
import ContactCTA from "../components/ContactCTA";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>

    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: "Poppins", sans-serif;
        min-height: 100vh;
        background: linear-gradient(to bottom right, #38b2ac, #3b82f6);
        color: white;
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <Navbar />

    <section id="hero">
      <Hero />
    </section>

    <section id="why">
      <Why />
    </section>

    <section id="portfolio">
      <Portfolio client:load />
    </section>

    <section id="website-creation">
      <WebsiteCreation />
    </section>

    <section id="contact">
      <ContactCTA />
    </section>
  </body>
</html>
