---
export const title = "Domyślny Tytuł";
export const description = "Domyślny opis strony";
export const url = "/";
---

<head>
  <title>{title}</title>
  <meta name="description" content={description} />
  <link rel="canonical" href={url} />
</head>
