---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Firma Web Design - Tworzymy strony internetowe dla firm">
  <h1>Witaj w Firma Web Design</h1>
  <p>Tworzymy profesjonalne strony internetowe dla firm.</p>
  <a href="/services">Zobacz nasze usługi</a>
</Layout>