---
---

<header>
  <img src="/images/logo.png" alt="Logo Firma Web Design" />
  <nav>
    <a href="/">Strona główna</a>
    <a href="/about">O nas</a>
    <a href="/services">Usługi</a>
    <a href="/contact">Kontakt</a>
  </nav>
</header>

<style>
  /* Dodaj style dla headera */
</style>